* {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    justify-content: center;
    padding: 50px 20px;
    background-color: #f7f7f7;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 600px;
    padding: 30px 60px;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0 40px 12px rgba(0, 0, 0, 0.1);
    border: 1px solid #f0f0f0;
}

.form-div h2 {
    color: #cc0000;
    font-size: 32px;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 2px solid #eeeeee;
    text-align: center;
}

label {
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555555;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    transition: border-color 0.3s, box-shadow 0.3s;
    background-color: #fcfcfc;
}

.btSubmit {
    background-color: #cc0000;
    color: white;
    border: none;
    padding: 15px 20px;
    margin-top: 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17.5px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.1s;
}

.btSubmit:hover {
    background-color: #990000;
}

.btSubmit:active {
    transform: scale(0.99);
}